<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rabbitink">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RabbitInk">


        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->


        <activity
            android:name=".regularBanner"
            android:label="@string/title_activity_banner">

        </activity>
        <activity
            android:name=".contact_form"
            android:label="@string/title_activity_contact_form" />
        <activity
            android:name=".Main_banner"
            android:label="@string/title_activity_banner" />
        <activity android:name=".Main_tshirtcap" />
        <activity
            android:name=".customdesign"
            android:label="@string/title_activity_custom_design" />
        <activity android:name=".Embroidery_Regular_Design" />
        <activity
            android:name=".Embroidery_Main"
            android:label="@string/title_activity_main_embroidery" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>